version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: go-file-explorer-api
    env_file:
      - .env
    ports:
      - "8080:8080"
    volumes:
      - ./data:/data
      - ./state:/app/state
    restart: unless-stopped